<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Dự án laptopshop" />
  <meta name="author" content="Kieu Duc" />
  <title>View Detail Order</title>
  <link href="/admin/css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  <%- include('../layout/header') -%>
  <div id="layoutSidenav">
    <%- include('../layout/sidenav') -%>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">View Detail Order</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/order">Orders</a></li>
            <li class="breadcrumb-item active">View Order Detail</li>
          </ol>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Product</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <% orderDetail.forEach((item)=> { %>
              <tr>
                <td>
                  <img src="/images/products/<%=item.product.image %>" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                </td>
                <td>
                  <%= item.product.name %>
                </td>
                <td>
                  <%= new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND'
                                                    }).format(item.product.price) %>
                </td>
                <td>
                  <%= item.quantity %>
                </td>
                <td>
                  <%= new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND'
                                                    }).format(item.product.price) %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

      </main>
      <%- include('../layout/footer') %>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="/admin/js/scripts.js"></script>
</body>

</html>